

<br><br><br><br><br>
<h3>UPDATE</h3>

<section>


    {% for category in site.categories %}
        {% assign index = category | first %}
        {% assign collection = site.categories[index] | reverse %}
        
        <a name="{{index}}">{{index}}</a> <br>
        {% for index in collection %}
        <a href="{{site.baseurl}}{{index.url}}" name="{{ index.title}}">{{index.date | date : "%Y/%m/%d"}} - {{ index.title}}
            <span style="font-size:small" >( {{ index.titleEn }} )</span></a> <br>
        {% endfor %}
        <br><br>

    {% endfor %}
    <br>

</section>



